/venv
config.py
__pycache__/
ex.py
gf.ipynb
.vscode
binance_socket_manager.ipynb
sobre_binance_api.py
monedas.py
coin_data.json
por_moneda.py
orderBook_stream.py
ejemplo_threads.py
parallell_example.py
request.py